@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
   --Yellow: hsl(47, 88%, 63%);
   --White: hsl(0, 0%, 100%);
   --Gray500: hsl(0, 0%, 42%);
   --Gray950: hsl(0, 0%, 7%)
}

body {
    font-family: "Figtree", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    border-radius: 20px;
    padding: 1.25rem;
    border: 1px solid black;
    box-shadow: 10px 10px 0px 0px;
}

.illustration {
    border-radius: 15px;
    margin-bottom: 1.4rem;
}

.btn {
    background-color: var(--Yellow);
    padding: .55em 1rem;
    border: 0;
    border-radius: 5px;
    font-weight: 900;
}

.date {
    color: var(--Gray950);
    font-size: .9rem;
    margin-bottom: 0;
}

.title {
    margin-top: .8rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 800;
}

.title:hover {
    color: var(--Yellow);
}

.ptext {
    color: var(--Gray500);
    margin-top: .8rem;
    font-size: 16px;
    line-height: 1.5;
}

.profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .7rem;
    font-weight: 700;
}

.avatar {
    max-width: 2rem;
    max-height: 2rem;
}

.attribution {
    margin-bottom: -.7rem;
    font-size: .7rem;

    a {
        text-decoration: none;
    }
    a:hover {
        color: var(--Yellow);
    }


}